AWS_ACCESS_KEY_ID=your_aws_key
AWS_SECRET_ACCESS_KEY=your_aws_secret
S3_BUCKET=your_bucket
OPENQA_API_KEY=your_key
OPENQA_API_SECRET=your_secret
OPENQA_HOST=dummy
GITHUB_TOKEN=your_github_tokenour_host
